@page "/Tecnico/Delete/"
@using RegistroTecnico.Service
@inject TecnicosService tecnicosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Eliminar Tecnico</PageTitle>

<div class="container">
    <div class="card shadow-header">

        <div class="card-header  bg-primary text-white text-center py-2 rounded">
            <h3><strong>Eliminar T&eacute;cnico</strong></h3>
        </div>
        <div class="card-header">
            <h3 class="text-danger">¿Estás seguro de que quieres eliminar este técnico?</h3>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <h3 class="text-center"><strong>Datos del técnico</strong></h3>
                        </div>
                        <div class="card-body">
                            <div class="border-primary border-2 borde">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <ul class="list-unstyled">
                                                <li><strong>TecnicoId:</strong> @tecnicos.TecnicoId</li>
                                                <li><strong>Nombre:</strong> @tecnicos.Nombre</li>
                                                <li><strong>SueldoHora:</strong> @tecnicos.Sueldohora</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-outline-danger" @onclick="Eliminartecnico"><i class="bi bi-trash-fill"></i> Eliminar</button>
            <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
        </div>
    </div>
</div>

@if (tecnicos == null)
{
    <p>Técnico no encontrado.</p>
}

@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos? tecnicos { get; set; } = new Tecnicos();

    protected override async Task OnInitializedAsync()
    {
        if (TecnicoId != 0)
        {
            tecnicos = await tecnicosService.Buscar(TecnicoId);
        }
    }

    public async Task Eliminartecnico()
    {
        if (TecnicoId == 0 || tecnicos == null)
        {
            return;
        }

        if (await tecnicosService.Eliminar(TecnicoId))
        {
            Volver();
        }
    }

    public async Task Volver()
    {
        navigationManager.NavigateTo("/Tecnico/index");
    }
}